<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <h1>Logout</h1>

        <!-- START BLOCK : ERROR -->
        <div class="alert alert-danger">
            <p>{MELDING}</p>
        </div>
        <!-- END BLOCK : ERROR -->
        <!-- START BLOCK : SUCCES -->
        <div class="alert alert-success">
            <p>{MELDING}</p>
            <meta http-equiv="refresh" content="3; url=index.php?id=1" />
        </div>
        <!-- END BLOCK : SUCCES -->

    </div>